[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry/forge-std
	branch = v1.9.6
[submodule "lib/enso-weiroll"]
	path = lib/enso-weiroll
	url = ../enso-weiroll.git
[submodule "lib/safe-tools"]
	path = lib/safe-tools
	url = https://github.com/colinnielsen/safe-tools
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
